<div ng-controller="ordersController">
   <div class="one-half column">
	    <form>
	    	<label>Customer:</label>
	    	<select class="u-full-width">
	    		<option>esteban</option>
	    		<option>jun</option>
	    		<option>michael</option>
	    	</select>
	    	<label>Order</label>
	    	<select>
	    		<option>1</option>
	    		<option>2</option>
	    		<option>3</option>
	    	</select>
	    	<select>
	    		<option>Dojo T-shirt</option>
	    		<option>Dojo Jeans</option>
	    		<option>Dojo Hat</option>
	    	</select>
	    	<input class="button-primary" type="submit" value="Add" ng-click='addProduct()'>
	    </form>
	</div>
    <div class="one-half column" >
    	<input ng-model="filter_name" type="text" placeholder="Search">

    </div>
    <table class="u-full-width">
    	<tr>
    		<td>Customer Name</td>
    		<td>Product</td>
    		<td>Quantity</td>
    		<td>Date</td>
    	</tr>
    	<tr>
    		<td>Esteban</td>
    		<td>T-shirt</td>
    		<td>3</td>
    		<td>April 3 2015</td>
    	</tr>
    	 <tr>
    		<td>Esteban</td>
    		<td>T-shirt</td>
    		<td>3</td>
    		<td>April 3 2015</td>
    	</tr>
    </table>
    {{ message }}
</div>